{% extends 'base.html' %}
{% block title %}Correo Enviado - PetJoy{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card shadow-sm border-0">
                <div class="card-body p-5 text-center">
                    <h1 class="display-4 text-success"><i class="bi bi-envelope-check-fill"></i></h1>
                    <h3 class="card-title fw-bold">Instrucciones Enviadas</h3>
                    <p class="card-text text-muted mt-4">
                        Hemos enviado las instrucciones para cambiar tu contraseña a la dirección de correo electrónico que proporcionaste.
                        <br>
                        Deberías recibir el correo en breve.
                    </p>
                    <p class="card-text small mt-4 p-3 bg-light rounded">
                        <strong>Nota importante:</strong> Por favor, revisa tu carpeta de Spam o Correo no deseado si no lo ves en tu bandeja de entrada en unos minutos.
                        <br>
                    </p>
                    <a href="{% url 'clientes:login' %}" class="btn btn-outline-primary mt-3">Volver al Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}